<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Gmart\Mobileshop\Api\HelloworldInterface" type="Gmart\Mobileshop\Model\Helloworld" />
    <preference for="Gmart\Mobileshop\Api\Data\ReviewOverviewInterface" type="Gmart\Mobileshop\Model\ReviewOverview" />
</config>